<!--!popuphead-->
<html>
<head>
	<title>{title}</title>
	<link href='templates/colors.css' rel='stylesheet' type='text/css'>
	<link href="templates/e-cracked.css" rel="stylesheet" type="text/css">
	{headscript}
	{script}
</head>

<body background='templates/e-cracked/bg.jpg'>
<table cellpadding="0" cellspacing="0">
	<tr>
		<td><img src="templates/e-cracked/transTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/e-cracked/transT.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/e-cracked/transL.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td valign="top" nowrap class="pagetitle">{title}</td>
		<td background="templates/e-cracked/transR.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/e-cracked/transBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/e-cracked/transB.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>

<img src="templates/e-cracked/spacer.gif" width="10" height="10" alt="">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="templates/e-cracked/transTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/e-cracked/transT.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/e-cracked/transL.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td width="100%" valign="top" class="main">
<!--!popupfoot-->
		</td>
		<td background="templates/e-cracked/transR.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/e-cracked/transBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/e-cracked/transB.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>

<img src="templates/e-cracked/spacer.gif" width="10" height="10" alt="">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="templates/e-cracked/transTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/e-cracked/transT.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/e-cracked/transL.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td width="100%" align="left" class="footer">
			{copyright}
			<div style="float: right;">Design: e-cracked template &copy; 2007 by <a href="http://www.elijahstcloud.com/">Elijah</a>, code based on Tao's iDragon</div>
		</td>
		<td background="templates/e-cracked/transR.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/e-cracked/transBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/e-cracked/transB.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>
</body>
</html>


<!--!header-->
<html>
<head>
	<title>{title}</title>
	<link href='templates/colors.css' rel='stylesheet' type='text/css'>
	<link href="templates/e-cracked.css" rel="stylesheet" type="text/css">
	{headscript}
	{script}
</head>

<body style="background-color: #000; background-image: url('templates/e-cracked/bg.jpg'); background-position: top center; background-repeat: no-repeat">
<table cellpadding="0" cellspacing="0" width='90%' align='center'>
	<tr>
		<td>

<table cellpadding="0" cellspacing="0">
	<tr>
		<!--<td><img src="templates/e-cracked/transTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/e-cracked/transT.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/e-cracked/transL.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td valign="top" nowrap class="pagetitle">{title}</td>
		<td background="templates/e-cracked/transR.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/e-cracked/transBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/e-cracked/transB.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transBR.gif" width="10" height="12" alt=""></td>
	</tr>-->
</table><td align="right"></td>


		</td>
		<td width="100%" align="left"><img src='templates/e-cracked/logo.gif'>{headerad}</td>

		<tr></tr><td align="right" colspan="3"><br>{motd} | {mail} | {petition}<br />
		{petitiondisplay}</td>
	</tr>
</table>

<img src="templates/e-cracked/spacer.gif" width="10" height="10" alt="">

<table cellpadding="0" cellspacing="0" width='90%' align='center'>
	<tr>
		<td><img src="templates/e-cracked/transTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/e-cracked/transT.gif"><img src="templates/e-cracked/spacer.gif" width="180" height="1" alt=""></td>
		<td><img src="templates/e-cracked/transTR.gif" width="10" height="10" alt=""></td>

		<td rowspan="3"><img src="templates/e-cracked/spacer.gif" width="10" height="1" alt=""></td>

		<td><img src="templates/e-cracked/woodTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/e-cracked/woodT.gif" width="100%"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/woodTR.gif" width="10" height="10" alt=""></td>

		<td rowspan="3"><img src="templates/e-cracked/spacer.gif" width="10" height="1" alt=""></td>

		<td><img src="templates/e-cracked/transTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/e-cracked/transT.gif"><img src="templates/e-cracked/spacer.gif" width="180" height="1" alt=""></td>
		<td><img src="templates/e-cracked/transTR.gif" width="10" height="10" alt=""></td>
	</tr>

	<tr>
		<td background="templates/e-cracked/transL.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td width="180" valign="top" class="nav">
			<div style='position: relative; top: -15;' align='center'>{navad}</div>

{nav}

		</td>
		<td background="templates/e-cracked/transR.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>

		<td background="templates/e-cracked/woodL.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td valign="top" class="main"><div style="float: right;">{verticalad}</div>{bodyad}
<!--!footer-->
		</td>
		<td background="templates/e-cracked/woodR.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>

		<td background="templates/e-cracked/transL.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td width="180" valign="top" class="stats">

{stats}
{paypal}

		</td>
		<td background="templates/e-cracked/transR.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
	</tr>

	<tr>
		<td><img src="templates/e-cracked/transBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/e-cracked/transB.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transBR.gif" width="10" height="12" alt=""></td>

		<td><img src="templates/e-cracked/woodBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/e-cracked/woodB.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/woodBR.gif" width="10" height="12" alt=""></td>

		<td><img src="templates/e-cracked/transBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/e-cracked/transB.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>

<img src="templates/e-cracked/spacer.gif" width="10" height="10" alt="">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="templates/e-cracked/transTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/e-cracked/transT.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/e-cracked/transL.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td width="100%" class="footer">

<table width="100%">
	<tr>
		<td align="left" valign="top">
			{copyright}
			Design: e-cracked template &copy; 2007 by <a href="http://www.elijahstcloud.com/">Elijah</a>, based on iDragon by Tao
		</td>
		<td align="right" valign="top">
			{source}<br />
			{version}<br />
			{pagegen}
		</td>
	</tr>
</table>

		<td background="templates/e-cracked/transR.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/e-cracked/transBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/e-cracked/transB.gif"><img src="templates/e-cracked/spacer.gif" alt=""></td>
		<td><img src="templates/e-cracked/transBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.tmkis.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<script async defer data-domain="lotgd.de" src="https://plausible.tmkis.cloud/js/plausible.js"></script>
<!-- End Matomo Code -->
</body>
</html>
<!--!statstart--><table cellspacing="0" width="180">
<!--!stathead-->	<tr><td class="charhead" colspan="2">{title}</td></tr>
<!--!statrow-->	<tr><td class="charinfo">{title}</td><td class="charinfo">{value}</td></tr>
<!--!statbuff-->	<tr><td class="charhead" colspan="2">{title}</td></tr>
	<tr><td class="charinfo" colspan="2">{value}</td></tr>
<!--!statend--></table>
<!--!navhead-->	<span class="navhead">{title}</span><br clear='all'>
<!--!navhelp-->	<span class="navhelp">{text}</span><br clear='all'>
<!--!navitem-->	<a href="{link}"{accesskey}class="nav" {popup}>{text}</a><br clear='all'>
<!--!petitioncount--><table cellpadding="5" cellspacing="0" align="right">
	<tr><td>{petitioncount}</td></tr>
</table>
<!--!adwrapper--><table cellpadding="2" cellspacing="0">
	<tr><td>{content}</td></tr>
</table>
<!--!login--><table cellpadding="0" cellspacing="0">
	<tr><td><img src="templates/e-cracked/logindragon.gif"></td></tr>
	<tr>
	<td align="center"><table>
			<tr><td align="center">{username}:</td><td align="center">{password}:</td></tr>
			<tr><td><input name="name" id="name" accesskey="u" size="10"></td><td><input name="password" id="password" accesskey="p" type="password" size="10"></td></tr>
			<tr><td colspan="2" align="center"><input type="submit" value="{button}" class="button"><br></td></tr>
		</table></td>
	</tr>
</table>
<!--!loginfull--><table cellpadding="0" cellspacing="0">
	<tr><td align="center"><img src="templates/e-cracked/logindragon.gif"></td></tr>
	<tr><td align="center">
		<font color="#ff0000"><b>Server Full!</b></font><br><br>
		Please try again later on...</td>
	</tr>
</table>
<!--!collapse-->
style:e-cracked
