/* CSS Document */

caption {
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	/* background-color: #000; */
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

image { 
        border: none; 
}

a {
#	color: #406080;
	color: #f8a080;
#	color: #ff8060;
	text-decoration: none;
}

table, td {
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
        /* background-color: #000; */
        color: #fff;
}

.pagetitle {
	/* background-color: #63a3db; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
	color: #fff;
        text-align: right;
}

.footer {
	/* background-color: #63a3db; */
}

.main {
        background-image: url(e-cracked/main.jpg);
        background-repeat: repeat-x;
        background-color: #000;
}

td.stats {
	/* background-color: #000; */
	width: 180px;
}
.charhead {
        border: none;
	/* background-color: #777; */
	height: auto;
	padding: 4px;
	clear: none;
	line-height: 18px;
	font-weight: bold;
	/* font-variant: small-caps; */
	text-decoration: none;
	text-align: left;
	color: #fff;
	cursor: default;

}
.charinfo {
	padding-top: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	/* border-top: 1px solid #63a3db; */
	cursor: default;
        color: #fff;
        /* background-color: #777; */
}

td.nav {
	/* background-color: #eeeeee; */
	width: 180px;
}

a.nav {
	width: 178px;
	height: auto;
	padding-top: 0;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	float: left;
	clear: none;
	/* background-color: #fff; */
	color: #fff;
	/* border: 1px solid #eeeeee; 
	cursor: default; */
        text-align: right;
}

a:hover.nav {
	/* background-color: #888;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;*/
        color: #9e5c5c;
}

.navhi { color: #ff8060; cursor: default; }

.navhead {
	width: 178px;
	border: none;
	/* background-color: #fff; */
	height: auto;
	padding: 4px;
	float: left;
	clear: none;
	line-height: 18px;
	font-weight: bold;
	/* font-variant: small-caps; */
	text-decoration: none;
	text-align: right;
	color: #fff;
	cursor: default;
}

.navhelp {
	text-decoration: none;
	width: 174px;
	border: 1px solid #b0c8e0;
#	border: 1px solid #2070c0;
	height: auto;
	padding-top: 0;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 1px;
	float: left;
	clear: none;
	cursor: default;
}

a.navhilite {
	text-decoration: none;
	width: 180px;
	height: auto;
	padding: 0;
	float: right;
	clear: none;
	color: #ff8060;
	background-color: none;
	border: 1px solid #eeeeee;
	cursor: default;
}

a:hover.navhilite {
	background-color: #f0f0f0;
	border-top: 1px solid #fafafa;
	border-left: 1px solid #fafafa;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}

a.motd {
	text-decoration: none;
	color: #555;
}
a:hover.motd {
	font-weight: none;
	color:#888;
}

a.hotmotd {
	text-decoration: none;
	color: #60b0f0;
}
a:hover.hotmotd {
	font-weight: none;
	color:#ff8060;
}

input, textarea {
	background-color: #eeeeee;
	border-top: 2px solid #808080;
	border-left: 2px solid #808080;
	border-right: 2px solid #fafafa;
	border-bottom: 2px solid #fafafa;
	color: #000080;
        font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

textarea {
	resize: none;
}

input.button {
	background-color: #000;
	/* border-top: 2px solid #a0b0e0;
	border-left: 2px solid #0060a0;
	border-right: 2px solid #0060a0;
	border-bottom: 2px solid #80f0f0; */
	color: #555;
	font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

select {
	background-color: #333;
	/* border-top: 2px solid #808080;
	border-left: 2px solid #808080;
	border-right: 2px solid #fafafa;
	border-bottom: 2px solid #fafafa; */
	color: #777;
}

a.t {
	width: 7px;
	height: 7px;
	border: 1px dotted #0000FF;
	background-color: #9999FF;
	color: #FFFFFF;
	font-size: 7px;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}

a.thot {
	width: 7px;
	height: 7px;
	border: 1px dotted #FF0000;
	background-color: #FF9999;
	color: #FFFFFF;
	font-size: 7px;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}

div.tutor {
#	border-color: #ff8060;
	border-color: #63a3db;
	padding: 4px;
}

div.debug {
	background-color: #ffffff;
	color: #000000;
	border: 1px dotted #000000;
	width: auto;
	height: auto;
	font-size: 12px;
}

.colDkBlue { color: #8989be; }
.colLtBlue { color: #9fbff7; }

.colDkGreen { color: #446d44; }
.colLtGreen { color: #a0bb6f; }

.colDkCyan { color: #5a7b88; }
.colLtCyan { color: #b9dbdb; }

.colDkRed { color: #9e5c5c; }
.colLtRed { color: #fc8989; }

.colDkMagenta { color: #d294d8; }
.colLtMagenta { color: #ffacff; }

.colDkYellow { color: #a68d4e; }
.colLtYellow { color: #f8cf85; }

.colDkWhite { color: #bdbdbd; }
.colLtWhite { color: #ffffff; }

.colLtBlack { color: #999999; }

.colDkOrange { color: #a36228; }
.colLtOrange { color: #fca46a; }

.colBlue		{ color: #0070FF; }
.colLime  		{ color: #DDFFBB; }
.colBlack  		{ color: #000000; }
.colRose 		{ color: #EEBBEE; }
.colblueviolet	 	{ color: #9A5BEE; }
.coliceviolet		{ color: #AABBEE; }
.colLtBrown 		{ color: #F8DB83; }
.colDkBrown 		{ color: #6b563f; }
.colXLtGreen		{ color: #aaff99; }
.colAttention 		{ background-color: #00FF00; color: #FF0000; }
.colWhiteBlack	 	{ background-color: #FFFFFF; color: #000000; }
.colBack  		{ background-color: #00FFFF; color: #000000; }
.colbeige  		{ color: #F5F5DC; }
.colkhaki  		{ color: #F0E68C; }
.coldarkkhaki  		{ color: #BDB76B; }
.colaquamarine  	{ color: #7FFFD4; }
.coldarkseagreen  	{ color: #8FBC8F; }
.collightsalmon  	{ color: #FFA07A; }
.colsalmon  		{ color: #FA8072; }
.colwheat  		{ color: #F5DEB3; }
.coltan  		{ color: #D2B48C; }
.colLtLinkBlue 		{ color: #0099FF; }
.colDkLinkBlue 		{ color: #006BB3; }
.colDkRust 		{ color: #8D6060; }
.colLtRust 		{ color: #B07878; }
.colMdBlue 		{ color: #0000F0; }
.colMdGrey 		{ color: #DDDDDD; }
.colburlywood { color: #DEB887; }

.trhead { background-color: #63a3db; color: #fafafa; }
.trlight { background-color: #444; }
.trdark { background-color: #000; }
.trhilight { background-color: #222; }
.colMedRed { color: #780000; }
.colburlywood { color: #DEB887; }