/* CSS Document */
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

table.nav {
	background-color: #003300;
	border: 1px solid #000000;
	height: auto;
	width: 135px;
}

.navhead {
	text-decoration: none;
	width: 137px;
	height: auto;
	padding: 1px;
	line-height: 18px;
	float: left;
	clear: none;
	background-color: #003300;
	font-weight: bold;
	color: #FFFF00;
	cursor: default;
	text-align: center;
}

a {
	color: #009933;
	text-decoration: none;
}

a.nav {
	text-decoration: none;
    width: 135px;
	height: auto;
    padding: 1px;
	float: left;
	clear: none;
	background-color: #003300;
	border: 1px solid #003300;
}

.navhelp {
	text-decoration: none;
    width: 135px;
	height: auto;
    padding: 1px;
	float: left;
	clear: none;
	background-color: #003300;
	border: 1px solid #003300;
}

a:hover.nav {
    background-color: #008A36;
	border-top: 1px solid #00B039;
	border-left: 1px solid #00B039;
	border-bottom: 1px solid #009933;
	border-right: 1px solid #009933;
	color: #003300;
}
a.navhilite {
	text-decoration: none;
	width: 135px;
	height: auto;
	padding: 1px;
	float: right;
	clear: none;
	color:#FFFF00;
	background-color: #003300;
	border-top: thin solid #003300;
	border-bottom: thin solid #003300;
	border-right: thin none #003300;
	border-left: thin none #003300;
}
a:hover.navhilite {
	background-color: #003300;
	border-top: thin outset #009933;
	border-right: thin none #009933;
	border-bottom: thin outset #009933;
	border-left: thin none #009933;
}


table {
}
td.charinfo {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #009900;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: default;
}
td.charhead {
	background-color: #009900;
	border: none;
	cursor: default;
	color: #FFFF00;
}
table.charinfo {
	border: none;
	width: 140px;
}
td.pageheader {
	background-color: #101E0D;
	background-image: url(../templates/hooker-np/headbkg2.GIF);
	background-position: center bottom;
	background-repeat: repeat-x

}
td.popupheader {
	background-color: #101E0D;
	background-image: url(../templates/hooker-np/headbkg1.GIF);
	background-repeat: repeat-x
}
td.noborder {
	border: none;
}
table.noborder {
	border: none;
}
td.village {
	background-image: url(../images/village.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
td.forest {
	background-image: url(../images/forest.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
td.dragon {
	background-image: url(../images/dragon.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
input, textarea {
	background-color: #003300;
	border: 1px solid #009933;
	color: #009933;
}

textarea {
	resize: none;
}

.button {
font-family: verdana,arial,helvetica,sans-serif;  
     font-size: 12px;  
     color: #009933;  
     background-color: #003300;  
     border-top: 1px solid #009933;  
     border-left: 1px solid #009933;  
     border-right: 1px solid #000600;  
     border-bottom: 1px solid #000600;
}
.input {
	background-color: #003300;
	border: 1px solid #009933;
	color: #009933;
}
select {
	background-color: #003300;
	border: 1px solid #009933;
	color: #CCCCCC;
}
table.vitalinfo {
	background-color: #003300;
	border: 1px solid #000000;
	width: 182px;
}
a.motd {
	text-decoration: none;
	color:#FF9900;
}
a:hover.motd {
	font-weight: bold;
}

a.hotmotd {
	font-weight: bold;
}
.pagetitle {
	font-family: "Old English Text MT", "Times New Roman";
	font-size: 20px;
	color: #009933;
}
td.footer {
	background-image: url(../templates/hooker-np/headbkg2.GIF);
	background-repeat: repeat-x;
}
.navhi {
	color: #00FF00;
	text-decoration: underline;
}

a.t {
	width: 7px;
	height: 7px;
	border: 1px dotted #009933;
	background-color: #003300;
	color: #009933;
	font-size: 7px;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}

a.thot {
	width: 7px;
	height: 7px;
	border: 1px dotted #009933;
	background-color: #003300;
	color: #FFFFFF;
	font-size: 7px;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}

div.debug {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px dotted #000000;
	width: auto;
	height: auto;
	font-size: 10px;
}
.colDkBlue    	{ color: #0000B0; }
.colDkGreen   	{ color: #00B000; }
.colDkCyan    	{ color: #00B0B0; }
.colDkRed     	{ color: #B00000; }
.colDkMagenta 	{ color: #B000CC; }
.colDkYellow  	{ color: #B0B000; }
.colDkWhite   	{ color: #B0B0B0; }
.colLtBlue    	{ color: #0000FF; }
.colLtGreen   	{ color: #00FF00; }
.colLtCyan    	{ color: #00FFFF; }
.colLtRed     	{ color: #FF0000; }
.colLtMagenta 	{ color: #FF00FF; }
.colLtYellow  	{ color: #FFFF00; }
.colLtWhite   	{ color: #FFFFFF; }
.colLtBlack   	{ color: #999999; }
.colDkOrange  	{ color: #994400; }
.colLtOrange  	{ color: #FF9900; }
.colBlue  		{ color: #0070FF; }
.colLime  		{ color: #DDFFBB; }
.colBlack  		{ color: #000000; }
.colRose 		{ color: #EEBBEE; }
.colblueviolet 	{ color: #9A5BEE; }
.coliceviolet	{ color: #AABBEE; }
.colLtBrown 	{ color: #F8DB83; }
.colDkBrown 	{ color: #6b563f; }
.colXLtGreen	{ color: #aaff99; }
.colAttention 	{ background-color: #00FF00; color: #FF0000; }
.colWhiteBlack 	{ background-color: #FFFFFF; color: #000000; }
.colLtLinkBlue { color: #0099FF; }
.colDkLinkBlue { color: #006BB3; }
.colDkRust { color: #8D6060; }
.colLtRust { color: #B07878; }
.colMdBlue { color: #0000F0; }
.colMdGrey { color: #DDDDDD; }
.colbeige  { color: #F5F5DC; }
.colkhaki  { color: #F0E68C; }
.coldarkkhaki  { color: #BDB76B; }
.colaquamarine  { color: #7FFFD4; }
.coldarkseagreen  { color: #8FBC8F; }
.collightsalmon  { color: #FFA07A; }
.colsalmon  { color: #FA8072; }
.colwheat  { color: #F5DEB3; }
.coltan  { color: #D2B48C; }.colBack  		{ background-color: #00FFFF; color: #000000; }
.trhead  		{ background-color: #990000; color: #FFFFFF; }
.trlight 		{ background-color: #330000; }
.trhilight 		{ background-color: #550000; }
.trdark  		{ background-color: #000000; }
.colMedRed { color: #780000; }
.colburlywood { color: #DEB887; }