<!--!popuphead-->
<html>
<head>
	<title>{title}</title>
	<link href='templates/colors.css' rel='stylesheet' type='text/css'>
	<link href="templates/iDragon.css" rel="stylesheet" type="text/css">
	{headscript}
	{script}
</head>

<body background="templates/iDragon/bglines.gif">
<table cellpadding="0" cellspacing="0">
	<tr>
		<td><img src="templates/iDragon/blueTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/iDragon/blueT.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/blueTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/iDragon/blueL.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td valign="top" nowrap class="pagetitle">{title}</td>
		<td background="templates/iDragon/blueR.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/iDragon/blueBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/iDragon/blueB.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/blueBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>

<img src="templates/iDragon/spacer.gif" width="10" height="10" alt="">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="templates/iDragon/greyTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/iDragon/greyT.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/greyTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/iDragon/greyL.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td width="100%" valign="top" class="main">
<!--!popupfoot-->
		</td>
		<td background="templates/iDragon/greyR.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/iDragon/greyBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/iDragon/greyB.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/greyBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>

<img src="templates/iDragon/spacer.gif" width="10" height="10" alt="">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="templates/iDragon/blueTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/iDragon/blueT.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/blueTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/iDragon/blueL.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td width="100%" align="left" class="footer">
			{copyright}
			<div style="float: right;">Design: iDragon template &copy; 2005 by <a href="http://kreelah.deviantart.com/">tao</a></div>
		</td>
		<td background="templates/iDragon/blueR.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/iDragon/blueBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/iDragon/blueB.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/blueBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>
</body>
</html>


<!--!header-->
<html>
<head>
	<title>{title}</title>
	<link href='templates/colors.css' rel='stylesheet' type='text/css'>
	<link href="templates/iDragon.css" rel="stylesheet" type="text/css">
	{headscript}
	{script}
</head>

<body background="templates/iDragon/bglines.gif">
<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>

<table cellpadding="0" cellspacing="0">
	<tr>
		<td><img src="templates/iDragon/blueTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/iDragon/blueT.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/blueTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/iDragon/blueL.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td valign="top" nowrap class="pagetitle">{title}</td>
		<td background="templates/iDragon/blueR.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/iDragon/blueBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/iDragon/blueB.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/blueBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>

		</td>
		<td width="100%" align="center">{headerad}</td>
	</tr>
	<tr>
		<td align="right" colspan="2">{motd} | {mail} | {petition}<br />
		{petitiondisplay}</td>
	</tr>
</table>

<img src="templates/iDragon/spacer.gif" width="10" height="10" alt="">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="templates/iDragon/greyTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/iDragon/greyT.gif"><img src="templates/iDragon/spacer.gif" width="180" height="1" alt=""></td>
		<td><img src="templates/iDragon/greyTR.gif" width="10" height="10" alt=""></td>

		<td rowspan="3"><img src="templates/iDragon/spacer.gif" width="10" height="1" alt=""></td>

		<td><img src="templates/iDragon/greyTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/iDragon/greyT.gif" width="100%"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/greyTR.gif" width="10" height="10" alt=""></td>

		<td rowspan="3"><img src="templates/iDragon/spacer.gif" width="10" height="1" alt=""></td>

		<td><img src="templates/iDragon/greyTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/iDragon/greyT.gif"><img src="templates/iDragon/spacer.gif" width="150" height="1" alt=""></td>
		<td><img src="templates/iDragon/greyTR.gif" width="10" height="10" alt=""></td>
	</tr>

	<tr>
		<td background="templates/iDragon/greyL.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td width="180" valign="top" class="nav">
			<div style='position: relative; top: -15;' align='center'>{navad}</div>

{nav}

		</td>
		<td background="templates/iDragon/greyR.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>

		<td background="templates/iDragon/greyL.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td valign="top" class="main"><div style="float: right;">{verticalad}</div>{bodyad}
<!--!footer-->
		</td>
		<td background="templates/iDragon/greyR.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>

		<td background="templates/iDragon/greyL.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td width="150" valign="top" class="stats">

{stats}
{paypal}

		</td>
		<td background="templates/iDragon/greyR.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
	</tr>

	<tr>
		<td><img src="templates/iDragon/greyBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/iDragon/greyB.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/greyBR.gif" width="10" height="12" alt=""></td>

		<td><img src="templates/iDragon/greyBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/iDragon/greyB.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/greyBR.gif" width="10" height="12" alt=""></td>

		<td><img src="templates/iDragon/greyBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/iDragon/greyB.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/greyBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>

<img src="templates/iDragon/spacer.gif" width="10" height="10" alt="">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="templates/iDragon/blueTL.gif" width="10" height="10" alt=""></td>
		<td background="templates/iDragon/blueT.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/blueTR.gif" width="10" height="10" alt=""></td>
	</tr>
	<tr>
		<td background="templates/iDragon/blueL.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td width="100%" class="footer">

<table width="100%">
	<tr>
		<td align="left" valign="top">
			{copyright}
			Design: iDragon template &copy; 2005 by <a href="http://kreelah.deviantart.com/">tao</a>
		</td>
		<td align="right" valign="top">
			{source}<br />
			{version}<br />
			{pagegen}
		</td>
	</tr>
</table>

		<td background="templates/iDragon/blueR.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
	</tr>
	<tr>
		<td><img src="templates/iDragon/blueBL.gif" width="10" height="12" alt=""></td>
		<td background="templates/iDragon/blueB.gif"><img src="templates/iDragon/spacer.gif" alt=""></td>
		<td><img src="templates/iDragon/blueBR.gif" width="10" height="12" alt=""></td>
	</tr>
</table>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.tmkis.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<script async defer data-domain="lotgd.de" src="https://plausible.tmkis.cloud/js/plausible.js"></script>
<!-- End Matomo Code -->
</body>
</html>
<!--!statstart--><table cellspacing="0" width="150">
<!--!stathead-->	<tr><td class="charhead" colspan="2">{title}</td></tr>
<!--!statrow-->	<tr><td class="charinfo">{title}</td><td class="charinfo">{value}</td></tr>
<!--!statbuff-->	<tr><td class="charhead" colspan="2">{title}</td></tr>
	<tr><td class="charinfo" colspan="2">{value}</td></tr>
<!--!statend--></table>
<!--!navhead-->	<span class="navhead">&#151;{title}&#151;</span><br clear='all'>
<!--!navhelp-->	<span class="navhelp">{text}</span><br clear='all'>
<!--!navitem-->	<a href="{link}"{accesskey}class="nav" {popup}>{text}</a>
<!--!petitioncount--><table cellpadding="5" cellspacing="0" align="right">
	<tr><td>{petitioncount}</td></tr>
</table>
<!--!adwrapper--><table cellpadding="2" cellspacing="0">
	<tr><td>{content}</td></tr>
</table>
<!--!login--><table cellpadding="0" cellspacing="0">
	<tr><td><img src="templates/iDragon/logindragon.gif"></td></tr>
	<tr>
	<td align="center"><table>
			<tr><td align="center">{username}:</td><td align="center">{password}:</td></tr>
			<tr><td><input name="name" id="name" accesskey="u" size="10"></td><td><input name="password" id="password" accesskey="p" type="password" size="10"></td></tr>
			<tr><td colspan="2" align="center"><input type="submit" value="{button}" class="button"><br></td></tr>
		</table></td>
	</tr>
</table>
<!--!loginfull--><table cellpadding="0" cellspacing="0">
	<tr><td align="center"><img src="templates/iDragon/logindragon.gif"></td></tr>
	<tr><td align="center">
		<font color="#ff0000"><b>Server Full!</b></font><br><br>
		Please try again later on...</td>
	</tr>
</table>
<!--!collapse-->
style:iDragon
