/* CSS Document */
html{background-color:#ca0500;color:#FFFF00}
main{text-align:center;overflow:auto;width:100%}
td.charinfo{border-bottom:thin solid #FFFF00}
.charhead{text-align:center;font-weight:bold;border-bottom:thin dotted #FFFF00}
#statbox{border:thin solid #FFFF00;margin:1ex 0;padding:1ex}
#statbox,#content{float:right}
#leftnav,#statbox{width:13%}
#content{width:70%;margin:1em;overflow:auto}
#leftnav{float:left;border-right:thin solid #FFFF00;border-bottom:medium double #FFFF00;margin-bottom:1ex;clear:left}
#leftnav ul{list-style-type:none;padding:0;margin:0}
.navhead{padding-bottom:1pt;margin-bottom:1pt;text-align:center;overflow:auto}
#leftnav li{padding:0;margin:0}
a{color:#cf7800}
a.nav{display:block;border:thin outset #FFFF00;padding:.5ex;margin:.3ex;text-decoration:none}
a:hover{color:#3087FF}
a.nav:active{border:thin inset #bbb}
.navhi{color:#3087FF;text-decoration:underline}

#header{padding:1ex;border-bottom:medium groove #FFFF00;text-align:center}
#pagetitle{text-align:center}
#headnav{padding:0;margin:0;text-align:left}
ul#headnav a{text-decoration:none}
ul#headnav li{display:inline-block}
ul#headnav li a:before{content:"\29be "}
ul#headnav li a:hover:before{content:"\29bf "}
#pet_cnt{float:right}

#stats,table.charinfo{width:100%;overflow:auto}
table,form,fieldset{overflow:auto}
fieldset{width:fit-content}

input,textarea,select{outline:none;color:#fff;background-color:#000;border-color:#cf7800}
input:focus,textarea:focus{outline:thin groove #fff}
::selection{background-color:#999;color: #fff}

.button{margin:1ex auto}

#page_foot{border-top:#cf7800 groove medium;padding-top:1ex;clear:both;width:100%}
#page_foot img{padding-right:.8ex}
#attr{float:left;width:70%}
#src_ver{float:right;text-align:right}
#src_ver p{padding:0;margin:0}

select,fieldset,a,.button,input,textarea,#statbox,#leftnav{border-radius:.3em}

.colDkBlue	{ color: #0000FF; }
.colDkGreen   { color: #00B000; }
.colDkCyan	{ color: #00B0B0; }
.colDkRed	 { color: #BB0000; }
.colDkMagenta { color: #B000CC; }
.colDkYellow  { color: #B0B000; }
.colDkWhite   { color: #B0B0B0; }
.colLtBlue	{ color: #6262FF; }
.colLtGreen   { color: #00FF00; }
.colLtCyan	{ color: #00FFFF; }
.colLtRed	 { color: #FF2222; }
.colLtMagenta { color: #FF00FF; }
.colLtYellow  { color: #FFFF00; }
.colLtWhite   { color: #FFFFFF; }
.colLtBlack   { color: #777777; }
.colDkOrange  { color: #995500; }
.colLtOrange  { color: #FF9900; }
.colBlue  		{ color: #0070FF; }
.colLime  		{ color: #DDFFBB; }
.colBlack  		{ color: #000000; }
.colRose 		{ color: #EEBBEE; }
.colblueviolet 	{ color: #9A5BEE; }
.coliceviolet	{ color: #AABBEE; }
.colLtBrown 	{ color: #F8DB83; }
.colDkBrown 	{ color: #6b563f; }
.colXLtGreen	{ color: #aaff99; }
.colAttention 	{ background-color: #00FF00; color: #FF0000; }
.colWhiteBlack 	{ background-color: #FFFFFF; color: #000000; }
.colBack  		{ background-color: #00FFFF; color: #000000; }
.colbeige  { color: #F5F5DC; }
.colkhaki  { color: #F0E68C; }
.coldarkkhaki  { color: #BDB76B; }
.colaquamarine  { color: #7FFFD4; }
.coldarkseagreen  { color: #8FBC8F; }
.collightsalmon  { color: #FFA07A; }
.colsalmon  { color: #FA8072; }
.colwheat  { color: #F5DEB3; }
.coltan  { color: #D2B48C; }
.colLtLinkBlue { color: #0099FF; }
.colDkLinkBlue { color: #006BB3; }
.colDkRust { color: #8D6060; }
.colLtRust { color: #B07878; }
.colMdBlue { color: #0000F0; }
.colMdGrey { color: #DDDDDD; }
.trhead  { background-color:#006600; color:#FFFFFF; }
.trlight { background-color:#004000; }
.trdark  { background-color:#003000; }
.trhilight { background-color: #333333; }
.colMedRed { color: #780000; }
.colburlywood { color: #DEB887; }

@media (max-width:84em){#statbox{float:left;margin-bottom:0}
#content{width:80%;float:right}
#leftnav{padding-left:1ex;padding-right:1ex;border-left:solid thin transparent}
}
@media (max-width:760px){#statbox{width:100%;float:none;margin:1ex 0;padding:1ex 0}
#stats{width:auto;padding:1ex}
#leftnav{width:auto;float:none;margin-top:auto;border-top:medium double;border-left:thin solid;padding-bottom:1ex}
#pet_cnt{float:none}
#attr{display:block;font-size:smaller}
#content{float:none;margin-left:0;margin-right:0}
#content, #attr{width:100%}
}
@media (max-width:549px){textarea,input{width:99%}
input[type=radio],input[type=checkbox],.button{width:auto}
}